<h1>Palindrome#view</h1>
<p>Finding all squared palindromes from 1 up to entered value.</p>

<% unless @result.is_a?(String) %>
    <p>Value: <%= @result[:num] %></p>
    <p>Count: <%= @result[:count] %></p>
    <p>Nums: <%= @result[:nums] %></p>
    <p>Squared nums: <%= @result[:sq] %></p>
<% else %>
    <p> <%= @result %> </p>
<% end %>

<p> <%= link_to "Repeat input", :palindrome_input %> </p>